
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<p>Welcome @(((CommunityToolShedMvc.Security.CustomPrincipal)User).Person.FirstName)!</p>

<p>@Html.ActionLink("View All Communities", "Index", "Community")</p>